<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/static/indexPage.css">
</head>

<body>
  <h1>{{ task.title }}</h1>
  <p>{{ task.description|safe }}</p>

  <form action="/" id="form-codegolf" method="POST">
    {% csrf_token %}

    <input type="hidden" name="id" value="{{ task.id }}">

    <select name="code_lang" id="code_lang">
      {% for lang in code_languages %}
        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
      {% endfor %}
    </select>

    <p>Chars: <span id="chars"></span></p>

    <div id="editor" style="height: 300px;"></div>
    <textarea name="code" id="code" style="display: none;"></textarea>

    <button type="submit">Run</button>
  </form>

  <div>
    <h2>Yours output:</h2>
    <pre id="output"></pre>
  </div>

  <div>
    <h2>Expected:</h2>
    <pre id="expected"></pre>
  </div>

  <div>
    <h2>Diff:</h2>
    <div id="diff"></div>
  </div>

  <script type="module" src="/static/indexPage.js"></script>
</body>

</html>